<div id="mailru-content">
    <div class="mailru-container">
        <div id="wiki-body" class="gollum-markdown-content">
            <div class="markdown-body">
                <h1>Результаты поиска: <strong>{{query}}</strong></h1>
                {{#has_results}}
                    <ul>
                        {{#results}}
                            <li>
                                <a href="{{base_url}}/{{name}}">{{name}}</a>
                                <span class="mailru-search-count">({{count}} совпадений)</span>
                            </li>
                        {{/results}}
                    </ul>
                {{/has_results}}
                {{#no_results}}
                    <p>По данному запросу ничего не найдено.</p>
                {{/no_results}}
            </div>
        </div>
    </div>
</div>
